body {
	background-color: #eee;
	font-family: Arial, sans-serif;
}

.login {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #999;
	margin: auto;
	padding: 20px;
	text-align: center;
	width: 300px;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

label {
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
	text-align: left;
}

input[type="text"],
input[type="password"] {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
}

input[type="submit"] {
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

input[type="submit"]:hover {
	background-color: #0062cc;
}
